# Ejercicio de Python

Carga las 3 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, pandas y matplotlib

añade al final %matplotlib inline

**Coloca tu nombre y matricula** 

Nombre: Raúl Flores Robles

Matricula: 1838148

In [1]:
##### carga las dos librerias usadas (numpy, pandas ) 
import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [14]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas1.csv')

In [16]:
#mostrar las primeras 5 filas
ventas.head()

    Año      Mes  Ventas  Gastos
0  2015    Enero     160      71
1  2015  Febrero     191     125
2  2015    Marzo     177      72
3  2015    Abril     154      78
4  2015     Mayo     175     110

In [17]:
#mostrar las ultimas 5 filas
ventas.tail()

     Año         Mes  Ventas  Gastos
31  2017      Agosto     167     107
32  2017  Septiembre     197     111
33  2017     Octubre     160      53
34  2017   Noviembre     171      91
35  2017   Diciembre     110      66

ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2015, 2016 y 2017

1. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [18]:
## escribe aqui el código
ventas['Ganancias'] = ventas['Ventas']-ventas['Gastos']

2. Muestra el dataframe que incluye esta columna

In [19]:
## escribe aqui el código
ventas.head()

    Año      Mes  Ventas  Gastos  Ganancias
0  2015    Enero     160      71         89
1  2015  Febrero     191     125         66
2  2015    Marzo     177      72        105
3  2015    Abril     154      78         76
4  2015     Mayo     175     110         65

3. Calcula e imprime las ventas totales, gastos totales y ganacias totales de  todo el periodo\
Ejemplo de mensaje= las ventas totales son: \
etc

In [20]:
## escribe aqui el código
vtotal = ventas['Ventas'].sum()
GastoTotal = ventas['Gastos'].sum()
GanTotal = ventas['Ganancias'].sum()
print('Las ventas totales son ',vtotal)
print('El total de gastos fue ',GastoTotal)
print('El total de ganancias fue de ',GanTotal)

Las ventas totales son  5503
El total de gastos fue  3119
El total de ganancias fue de  2384

4. Calcula e imprime las ventas promedio, gastos promedio y ganacias promedio del periodo\
Ejemplo de mensaje= las ventas promedio son: \
etc

In [22]:
## escribe aqui el código
vprom = ventas['Ventas'].mean()
GastoProm = ventas['Gastos'].mean()
GanProm = ventas['Ganancias'].mean()
print('Las ventas promedio son ',vprom)
print('El total de gastos fue ',GastoProm)
print('El total de ganancias fue de ',GanProm)

Las ventas promedio son  152.86111111111111
El total de gastos fue  86.63888888888889
El total de ganancias fue de  66.22222222222223

5. Calcula e imprime las ventas promedio de 2015

In [26]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 
año2015 = ventas[ventas['Año']==2015]
año2015['Ventas'].mean()

154.66666666666666

6. Calcula e imprime las ventas totales  para los 3 meses de enero. Es decir la suma de enero de 2015, enero de 2016 y enero de 2017

In [31]:
## escribe aqui el código
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas 
enero = ventas[ventas['Mes']=='Enero']
enero['Ventas'].sum()

404

7. Calcula las ventas promedio por mes, guardalo en un dataframe y por ultimo muestra ordenado por ventas promedio de menor a mayor

In [52]:
## aqui va tu codigo
VentasMes = ventas.groupby('Mes')['Ventas'].agg(['mean'])
VentasMes = pd.DataFrame(VentasMes)
VentasMes.sort_values('mean',ascending=True)

                  mean
Mes
Julio       128.666667
Junio       129.666667
Enero       134.666667
Agosto      139.666667
Diciembre   141.333333
Noviembre   149.000000
Mayo        157.000000
Abril       164.333333
Marzo       165.333333
Septiembre  169.000000
Febrero     172.333333
Octubre     183.333333